@import "tailwindcss";

:root {
  --p-0: #ffffff;
  --p-1: #f8f8f8;
  --p-2: #eeeeee;
  --p-3: #e4e4e4;

  --s-0: #6d28d9;
  --s-1: #5b21b6;
  --s-2: #4c1d95;
  --s-3: #2e1065;

  --foreground: #171717;
  --foreground-1: #7c7c7c;
  --background: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --p-0: #050505;
    --p-1: #101010;
    --p-2: #181818;
    --p-3: #232323;

    --s-0: #4b0082;
    --s-1: #3a0066;
    --s-2: #24004b;
    --s-3: #120024;

    --foreground: #ededed;
    --foreground-1: #bfbfbf;
    --background: #030303;
  }
}

@theme inline {
  --color-p-0: var(--p-0);
  --color-p-1: var(--p-1);
  --color-p-2: var(--p-2);
  --color-p-3: var(--p-3);

  --color-s-0: var(--s-0);
  --color-s-1: var(--s-1);
  --color-s-2: var(--s-2);
  --color-s-3: var(--s-3);

  --color-foreground: var(--foreground);
  --color-foreground-1: var(--foreground-1);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
